* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.below-header {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

[data-screen]:focus {
    outline: none;
}

[data-screen] {
    display: flex;
    flex-grow: 1;
}

[data-screen][hidden] {
    display: none !important;
}

/*------------------------------SENTIENCE------------------------------*/

#sentience-root, #settings-root {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.header-sentience {
    width: 100%;
    height: 70px;
    text-align: center;
    align-content: center;
    background-color: #fff;
    color: #000
}

.content-sentience {
    height: 100%;
    text-align: center;
    align-content: center;
    flex-grow: 1;
}



/*------------------------------TABBAR------------------------------*/

.tab-bar {
    height: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-top: none;
    background: #fff;
}

.tab-button {
    padding: 10px 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    font-family: sans-serif;
    font-size: 14px;
    cursor: pointer;
    color: #000;
}

.tab-button:active {
    color: #fff;
}


/*------------------------------HEADER------------------------------*/

.header {
    width: 100%;
    height: 70px;
    text-align: center;
    align-content: center;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}

.header-title {
    font-weight: normal;
}


/*------------------------------COLORS------------------------------*/

.black {
    background-color: black;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}
