@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');

/*------------------------------GENERALSHIT------------------------------*/

#sentience-root, #settings-root {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.below-header {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}


/*------------------------------BUTTONS------------------------------*/

button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.generate-button {
    background: #fff;
    border: 1px solid #000;
    padding: 10px 20px;
    cursor: pointer;
}

.generate-button:hover {
    background: #000;
    color: #fff;
}


/*------------------------------SENTIENCE------------------------------*/

.sentience-header {
    width: 100%;
    height: 70px;
    text-align: center;
    align-content: center;
    background-color: #fff;
    color: #000
}

.sentience-content {
    height: 100%;
    text-align: center;
    align-content: center;
    flex-grow: 1;
}


/*------------------------------SETTINGS------------------------------*/

.settings-container {
    width: 300px;
    height: 100%;
    border: 1px solid #000;
    padding: 10px;
    margin: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.settings-label-text {
    background: #fff;
}

.settings-row {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.settings-row-panel {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: left;
}

.settings-button {
    background: #fff;
    border: 1px solid #000;
    padding: 10px 20px;
    cursor: pointer;
}


/*------------------------------TABBAR------------------------------*/

.tab-bar {
    height: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-top: none;
    background: #fff;
}

.tab-button {
    padding: 10px 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    cursor: pointer;
    color: #000;
}

.tab-button[data-nav="settings-screen"] {
    margin-top: auto;
    border-top: 1px solid #000;
    border-bottom: none;
}

.tab-button.is-active {
    background: #000;
    color: #fff;
}

[data-screen]:focus {
    outline: none;
}

[data-screen] {
    display: flex;
    flex-grow: 1;
}

[data-screen][hidden] {
    display: none !important;
}


/*------------------------------HEADER------------------------------*/

.header {
    width: 100%;
    height: 70px;
    text-align: center;
    align-content: center;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}


/*------------------------------MINICLASSES------------------------------*/

.flex-grow-1 {
    flex-grow: 1;
}

.black {
    background-color: black;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}
